body {
    background-color: var(--background);

    display: grid;
    grid-template-columns: minmax(256px, 1024px);
    justify-content: center;
    gap: 16px;
}

header {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header div {
    max-width: 588px;
    text-align: center;
}

header div h1 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    color: var(--text);
}

header div p {
    color: var(--text);
}

.sectionHeader {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 16px;
}

article {
    margin-bottom: 48px;
    display: flex;
    gap: 32px;
}

.card {
    margin-top: 16px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: margin-top 0.2s;
}

.card:hover {
    cursor: pointer;
    margin-top: 8px;
    transition: margin-top 0.2s;
}

.cardImg {
    aspect-ratio: 16/9;
    border-radius: 12px;
    background-color: var(--primary);
}

.cardMeta {
    width: max-content;
    padding: 0px 6px;
    border-radius: 4px;
    font-size: 13px;
    color: var(--text);
    background-color: var(--secondary);
}

.cardTitle {
    font-size: 16px;
    font-weight: 700;
    color: #160C09;
}

.cardDate {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 300;
    color: #160C09;
}