@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --text: #160C09;
    --background: #F6F1EF;
    --primary: #283A43;
    --secondary: #ECE3DF;
    --accent: #3B89AB;
    --hover: #D9C7BF;
}

* {
    margin: 0rem;
    padding: 0rem;

    border: none;
    outline: none;

    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(128px, 1256px);
    justify-content: center;
    gap: 24px;
}





h1 {
    margin: 24px 0px 24px 0px;

    text-align: center;

    font-size: 20px;
    font-weight: 600;
}




header {
    margin-top: 48px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .4fr 1fr max-content;
    gap: 8px;
}

.questionHeader {
    grid-column: 2 /span 2;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.questionHeader h2 {
    font-size: 16px;
    color: var(--text);
}

.questionHeader p {
    font-size: 14px;
    color: var(--primary);
}

form {
    grid-column: 2 /span 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 8px;
}

form button {
    padding: 20px 24px;

    border-radius: 8px;

    background-color: var(--secondary);

    display: flex;
    align-items: center;
    gap: 12px;
}

form button:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.questionCon {
    grid-row: 1 /span 2;
    margin-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.questionCon img {
    aspect-ratio: 4/3;

    border-radius: 8px;
    border: 1px solid var(--primary);

    background-color: var(--primary);
}

.questionController {
    grid-column: 1;
    margin-right: 16px;

    padding: 4px;

    border-radius: 8px;
    border: 1px solid var(--primary);

    display: flex;
    gap: 4px;
}

.questionController button {
    flex: 1;

    padding: 8px 12px;

    border-radius: 4px;

    background-color: var(--secondary);

    display: grid;
    place-content: center;
}

.questionController button:hover {
    cursor: pointer;
    background-color: var(--hover);
}


.questionMetaCon {
    grid-column: 2 /span 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionMetaCon a {
    font-size: 14px;

    text-decoration: underline;

    color: var(--primary);
}

.questionMetaCon div {
    display: flex;
    gap: 24px;
}

.questionMetaCon div p {
    font-size: 14px;
    color: var(--text);
}




.markedQuestions {
    margin-top: 48px;

    display: flex;
    gap: 16px;
}