{% extends 'base.html' %}


{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing.css' %}">
{% endblock %}


{% block header %}
    <header>
        <h4>A quiz for everyone!</h4>
    </header>
{% endblock %}


{% block content %}
    <div class="landingCardFeed">
        {% for quiz, f in looping %}
            <a class="container card" href="{% url 'quest' quizID=quiz.id questID=f %}">
    
                <img class="card_img" src="" alt="">
    
                <h2 class="card_title">{{ quiz.name }}</h2>
    
                <div class="wrapper card_meta_con">
                    <p class="card_meta">3 Question</p>
                    <p class="card_meta">{{ total }} min</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}