header {
    padding: var(--px8) var(--px24);
    border-radius: var(--px24);

    background: rgb(239,71,111);
    background: linear-gradient(
        90deg, 
        rgba(239,71,111,1) 0%, 
        rgba(246,105,81,1) 33%,
        rgba(232,115,216,1) 66%, 
        rgba(96,199,230,1) 100%
    );
}

header h4 {
    text-align: center;

    font-size: 18px;

    color: var(--bg);
}


.landingCardFeed {
    padding: var(--px24) 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--px24);
}


.card {
    gap: var(--px24);
}

.card_title {
    font-size: 18px;
    font-weight: 600;
}

.card_img {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--primary);

    background: var(--primary);
}

.card_meta_con {
    gap: var(--px8);
}

.card_meta {
    font-size: 13px;
    color: var(--text-muted);
}