@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');


:root {
    --text: hsl(213, 68%, 15%);
    --text-muted: hsl(9, 9%, 38%);
    --bg: hsl(39, 9%, 96%);
    --primary: hsl(0, 0%, 100%);
    --border: hsl(220, 3%, 81%);
    --ans1: hsl(346, 84%, 61%);
    --ans2: hsl(9, 90%, 64%);
    --ans3: hsl(308, 72%, 68%);
    --ans4: hsl(194, 73%, 64%);

    /* sizes */
    --px8: .5rem;
    --px24: 1.5rem;
}


* {
    margin: 0;
    padding: 0;

    border: none;

    text-decoration: none;

    font-family: 'IBM Plex Sans', sans-serif;

    color: var(--text);
}


body {

    background: var(--bg);

    display: grid;
    grid-template-columns: minmax(256px, 1256px);
    justify-content: center;
}


nav {
    padding: var(--px24) 0;

    display: flex;
    justify-content: space-between;
}

.navBtnCon {
    gap: 1rem;
    align-items: center;
}

.navBtn {
    font-size: 14px;
    font-weight: 500;
}


.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}