.quizContainer {
    display: grid;
    grid-template-columns: .3fr .7fr;
    grid-template-rows: 1fr max-content;
    gap: 12px;
}

.quizImg {
    grid-area: 'img';
    aspect-ratio: 4/3;
    border-radius: 16px;
}

.quizControlls {
    grid-area: 'controlls';
    gap: 8px;
}

.quiz {
    grid-area: 'quiz';

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.question {
    grid-column: 1 /span 2;
    padding: 20px 24px;

    border-radius: 16px;
    border: 2px solid #CCCDCF;

    background-color: #F5F4F3;
}

.quizMetaContainer {
    grid-area: 'meta';
    justify-content: space-between;
}


.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.answer {
    padding: 20px 24px;
    border-radius: 16px;
}

.ans1 {
    border: 2px solid var(--ans1);
}
.ans2 {
    border: 2px solid var(--ans2);
}
.ans3 {
    border: 2px solid var(--ans3);
}
.ans4 {
    border: 2px solid var(--ans4);
}


.quizData {
    gap: 8px;
    padding: 8px 24px;

    border-radius: 24px;
    border: 2px solid #CCCDCF;

    background-color: #F5F4F3;
}

.btn {
    padding: 8px 24px;
    border-radius: 24px;
    border: 2px solid #CCCDCF;
}

.ctrlBtn {
    flex: 1;
    text-align: center;
} 