{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz.css' %}">
{% endblock %}


{% block content %}
    <form action="{% url 'quest' quizID=quiz.id questID=next %}" id="answers" method="post">
        {% csrf_token %}

        <img class="quiz_img" src="" alt="">

        <div class="quiz_main_con">
            <div class="quiz_question_block">
                <p>{{ quest.name }}</p>
            </div>

            <label class="wrapper ans ans1" href=""><input type="radio" name="answer" id="" value="1">{{ quest.answer_1 }}</label>
            <label class="wrapper ans ans2" href=""><input type="radio" name="answer" id="" value="2">{{ quest.answer_2 }}</label>
            <label class="wrapper ans ans3" href=""><input type="radio" name="answer" id="" value="3">{{ quest.answer_3 }}</label>
            <label class="wrapper ans ans4" href=""><input type="radio" name="answer" id="" value="4">{{ quest.answer_4 }}</label>
        </div>

        <div class="wrapper quiz_tool_con">
            <a class="quiz_tool_btn" href="">View all questions</a>

            <hr>

            <div class="wrapper quiz_meta_con">
                <p>43/64</p>
                <p>35min</p>
            </div>
        </div>

        <div class="wrapper quiz_controll_con">
            {% if not quest.id == 1 %}
            <a class="quiz_controll_btn" href="{% url 'quest' quizID=quiz.id questID=previous %}">back</a>
            {% endif %}
            <label class="quiz_controll_btn" href=""><input type="submit" value="next"></label>
        </div>
    </form>
{% endblock %}