{% extends 'base.html' %}


{% block header %}

        <h4>{{ quizName }}</h4>

{% endblock %}


{% block content %}

    <!-- main div hold everything about the quiz controller togheter -->
    <div class="quizController">

        <img class="quizImg" src="" alt="">

        <form class="quetion_and_answer_container" action="" id="answers">
            {% csrf_token %}

            <div class="question">
                <p>{{ quest }}</p>
            </div>

            <label class="answer ans1" href="">{{ answer_1 }}<input type="radio" name="answer" id=""> </label>
            <label class="answer ans2" href="">{{ answer_2 }}<input type="radio" name="answer" id=""> </label>
            <label class="answer ans3" href="">{{ answer_3 }}<input type="radio" name="answer" id=""> </label>
            <label class="answer ans4" href="">{{ answer_4 }}<input type="radio" name="answer" id=""> </label>
        </form>

        <div class="wrapper">
            <a href="">back</a>

            <form action="">
                <label class="btn ctrlBtn" href="">mark <input type="checkbox" value="qid"></label>
                <label class="btn ctrlBtn" href=""><input type="submit" value="next"></label>
            </form>
        </div>

        <div class="wrapper quizMeta">
            <a href="">View all questions</a>

            <div class="wrapper">
                <p>43/64</p>
                <p>35min</p>
            </div>
        </div>

    </div>

{% endblock %}