{% extends 'base.html' %}

{% block header %}

    <div class="quizContainer">
        <img class="quizImg" src="" alt="img">

        <div class="quiz">
            <div class="question">
                <p>Question</p>
            </div>
            <form action="" id="answers">
                {% csrf_token %}
                <label class="answer ans1" href="">answer 1 <input type="radio" name="answer" id=""> </label>
                <label class="answer ans2" href="">answer 2 <input type="radio" name="answer" id=""> </label>
                <label class="answer ans3" href="">answer 3 <input type="radio" name="answer" id=""> </label>
                <label class="answer ans4" href="">answer 4 <input type="radio" name="answer" id=""> </label>
            </form>
        </div>

        <div class="wrapper quizControlls">
            <a class="btn ctrlBtn" href="">back</a>
            <form action="">
                <label class="btn ctrlBtn" href="">mark <input type="checkbox" value="qid"></label>
                <label class="btn ctrlBtn" href=""><input type="submit" value="next"></label>
            </form>
        </div>


        <div class="wrapper quizMetaContainer">
            <a class="btn" href="">View all questions</a>

            <div class="wrapper quizData">
                <p>43/64</p>
                <p>35min</p>
            </div>
        </div>
    </div>

{% endblock %}